<template>
    <div v-if="oidcUser">

        <p>
            You are signed in as:
        </p>
        <div style="width:100%;max-width:640px;height: 200px;margin: 0 auto;font-family: monospace;"
             v-html="userDisplay"></div>
        <p>
            Id token
        </p>
        <p>
            expires {{ new Date(oidcIdTokenExp).toISOString() }}
        </p>
        <textarea readonly style="width:100%;max-width:640px;height: 200px;margin: 0 auto;font-family: monospace;"
                  v-model="oidcIdToken"></textarea>
        <br>
        <button @click="removeOidcUser">Sign out</button>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import jsonMarkup from 'json-markup';
    import axios from 'axios';
    /*import {oidcSettings} from "../store/config/oidc";*/

    export default {
        name: "WelcomePage",
        computed: {
            ...mapGetters('oidcStore', [
                'oidcIsAuthenticated',
                'oidcAuthenticationIsChecked',
                'oidcUser',
                'oidcIdToken',
                'oidcIdTokenExp',
                'oidcAccessToken'
            ]),
            userDisplay: function () {
                return jsonMarkup(this.oidcUser);
            }
        },
        methods: {
            ...mapActions('oidcStore', [
                'signOutOidc',
                'removeOidcUser'
            ]),
            signOut() {
                this.$log.info(this.oidcUser);
                axios.get('https://dayebensa.auth.us-east-2.amazoncognito.com/logout',
                    {
                        params: {
                            /*response_type: encodeURIComponent('code'),
                            redirect_uri: encodeURIComponent(oidcSettings.redirect_uri),
                            scope: encodeURIComponent('openid profile phone email'),*/
                            client_id : encodeURIComponent('7mfgevi4i9e9asllk7polebunq'),
                            /*
                            state: encodeURIComponent(this.oidcUser.session_state),*/
                            logout_uri:  encodeURIComponent('localhost:8080/logout')
                        },/*
                        headers: {'Authorization': 'Bearer ' + this.oidcAccessToken}*/
                    })
                    .then(response => {
                        this.$log.info(response);
                    })
                    .catch(err => {
                        this.$log.error(err);
                    });
            }
        }
    }
</script>

<style scoped>
    .json-markup {
        color: transparent;
    }

    .json-markup span {
        color: black;
        float: left;
    }

    .json-markup .json-markup-key {
        clear: left;
    }
</style>